services:
  app-ibk-weather-v1:
    build: .
    image: app-ibk-weather-v1:latest
    container_name: app-ibk-weather-v1
    ports:
      - "8080"
    depends_on:
      redis:
        condition: service_healthy
    networks:
      - app-network
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"
  redis:
    image: redis:7
    container_name: redis
    ports:
      - "6379:6379"
    volumes:
      - ./data:/data
      - ./redis.conf:/usr/local/etc/redis/redis.conf:ro
    command: ["redis-server", "--requirepass", "123456789"]
    healthcheck:
      test: [ "CMD", "redis-cli", "-a", "123456789", "ping" ]
      interval: 10s
      timeout: 3s
      retries: 5
    networks:
      - app-network
networks:
  app-network:
    driver: bridge