spring:
  profiles:
    default: dev
  jackson:
    property-naming-strategy: SNAKE_CASE
  config:
    activate:
      on-profile: local
  data:
    redis:
      host: localhost
      port: 6379
      timeout: 60000
      lettuce:
        pool:
          max-active: 50
          max-idle: 10
          min-idle: 1

openweather:
  base-url: https://api.openweathermap.org/data/2.5
  api-key: 524a1799445ad793e2b9e95c09eeb810
  timeout-ms: 5000

server:
  port: 8080
