spring:
  data:
    redis:
      host: redis
      port: 6379
      password: ${SPRING_REDIS_PASSWORD}
      timeout: 60000
      lettuce:
        pool:
          max-active: 50
          max-idle: 10
          min-idle: 1
  application:
    name: app-ibk-weather-v1
  jackson:
    property-naming-strategy: SNAKE_CASE
server:
  port: 8080
logging:
  level:
    org.springframework.data.redis: DEBUG
    io.lettuce.core: DEBUG
management:
  health:
    redis:
      enabled: true
  endpoints:
    web:
      exposure:
        include: "health,metrics,prometheus"
  endpoint:
    health:
      show-details: always
    prometheus:
      access: unrestricted
openweather:
  base-url: https://api.openweathermap.org/data/2.5
  api-key:  ${OPENWEATHER_API_KEY}
  timeout-ms: 5000