apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: app-ibk-weather-v1-hpa
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: app-ibk-weather-v1
  minReplicas: 2
  maxReplicas: 5
  metrics:
    - type: Resource
      resource:
        name: memory
        target:
          type: Utilization
          averageUtilization: 80